 body {
     background: url("assets/starwarsBackground.jpg") no-repeat center center fixed;
 }

/* #character {
    width: 100px;
} */

#goodguys {
    color: rgba(0, 128, 0, 0.712);

}

.fightAreaBg {
    background-color: rgba(128, 128, 128, 0.705);  
}

audio {
    width: 20%;
}

.charImage {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

#defenderDown {
    display: none;
}